.parallax-container {
    background-image: url(../img/core-img/banner2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - -4px)!important;
}
.blk-lyr {
    height: 100%;
    background-color: #000000c4;
    padding: 5%;
}
.dp{
    width: 100%;
}
:root {
    --neon-border-color: #08f;
}
.dp-container{
    width: 12%;
    margin-top: 5%;
    border: 2px solid rgb(238, 250, 253);
    outline-offset: 30px;
    border-radius: 50%;
    padding: 6px;
    box-shadow:0 0 6px 2px #38acff;
    background: transparent;
}
.hd-text-container {
    overflow: hidden;
    height: 55px;
}
.hd-text-container::before{
    content: "[";
    color:#f4fdff;
    text-shadow: 0 0 15px #6cc2ff;
    font-size: 5.5rem;
    position: absolute;
    top: 44%;
    font-weight: 700;
    left: 20%;
}
.hd-text-container::after{
    content: "]";
    color:#f4fdff;
    text-shadow: 0 0 15px #6cc2ff;
    font-size: 5.5rem;
    position: absolute;
    top: 44%;
    font-weight: 700;
    right: 20%;
}
.hd-text-grp {
    position: relative;
    animation: header 12s infinite;
}
.hd-text {
    color: #fff;
}
.brackets {
    color:#f4fdff;
    text-shadow: 1px 1px 10px #6cc2ff;
    font-size: 5.5rem;
}
@keyframes header {
    0% {
        top: 0%;
      }
    25% {
        top: -100%;
      }
    50% {
        top: -190%;
      }
    75% {
        top: -290%;
      }
    100% {
        top: 0%;
      }
}
.name h1 {
    display: block;
    margin-bottom: 0;
    /* background: -webkit-linear-gradient(#ff9696, #ffe89e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: 0 0 10px #6cc2ff;
}
.hdr-btn {
    position: relative;
    z-index: 1;
    min-width: 160px;
    height: 46px;
    line-height: 42px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 60px;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}
.hdr-btn:hover{
    color: #fff!important;
    box-shadow: 0 0 15px #6cc2ff;
}
#gal {
    background-attachment: fixed;
    background-image: url(../img/core-img/gallery-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.footer-cont {
    padding-top: 1rem
}